[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "howManyImputations"]
	path = howManyImputations
	url = https://github.com/josherrickson/howmanyimputations
[submodule "rlemon"]
	path = rlemon
	url = https://github.com/josherrickson/rlemon
